<div class="reglist">
    <br>
    <hr>
    <h2 *ngIf="loading">SERIVIO OPERACION</h2>
    <app-loading *ngIf="loading"></app-loading>
    <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtrar">
        </mat-form-field>
    </div>
    <form (ngSubmit)="Consultar()" class="text-center">
        <div div class="form-group row">
            Servicio: <input type="text" [(ngModel)]="consultMode.servicio" name="servicio" placeholder="Servicio..."> Facturador: <input type="text" [(ngModel)]="consultMode.facturador" name="facturador" placeholder="Facturador...">
        </div>
        <button type="submit" class="btn btn-success">Consultar</button>
    </form>
    <div class="text-right">
        <button type="submit" class="btn btn-primary" (click)="onNew()">Nuevo</button>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Operacion </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="persona">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Red </th>
                <td mat-cell *matCellDef="let element"> {{element.persona}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Pago </th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="servicio">
                <th mat-header-cell *matHeaderCellDef> Servicio </th>
                <td mat-cell *matCellDef="let element"> {{element.servicio}} </td>
            </ng-container>

            <ng-container matColumnDef="facturador">
                <th mat-header-cell *matHeaderCellDef> Facturador </th>
                <td mat-cell *matCellDef="let element"> {{element.facturador}} </td>
            </ng-container>

            <ng-container matColumnDef="idservicio">
                <th mat-header-cell *matHeaderCellDef> Id Servicio </th>
                <td mat-cell *matCellDef="let element"> {{element.idservicio}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="moneda">
                <th mat-header-cell *matHeaderCellDef> Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="accent" class="btn btn-info" (click)="onEdit(row)"><mat-icon class="mat-18">system_update</mat-icon>
            </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Borrar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" class="btn btn-danger"><mat-icon class="mat-18">delete</mat-icon>
            </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>
<br>
<div class="regentry" *ngIf="showNew">
    <form (ngSubmit)="onSave()">
        <div class="form-group row">
            <label for="city-input" class="col-2 col-form-label">Red</label>
            <mat-form-field>
                <mat-label>Redes</mat-label>
                <mat-select placeholder="Select">
                    <mat-option class="dropdown-item" *ngFor="let item of redMode" (click)="onChangeRed(item)" [value]="item.descripcion">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <label for="city-input" class="col-2 col-form-label">Tipo Pago</label>
            <mat-form-field>
                <mat-label>Tipos Pagos</mat-label>
                <mat-select placeholder="Select">
                    <mat-option class="dropdown-item" *ngFor="let item of tipoPagoMode" (click)="onChangeForma(item)" [value]="item.descripcion">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <label for="city-input" class="col-2 col-form-label">Moneda</label>
            <mat-form-field>
                <mat-label>Moneda</mat-label>
                <mat-select placeholder="Select">
                    <mat-option class="dropdown-item" *ngFor="let item of monedaMode" (click)="onChangeMoneda(item)" [value]="item.descripcion">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <label for="city-input" class="col-2 col-form-label">Facturador</label>
            <mat-form-field>
                <mat-label>Facturadores</mat-label>
                <mat-select placeholder="Select">
                    <mat-option class="dropdown-item" *ngFor="let item of facturadorMode" (click)="onChangeFacturador(item)" [value]="item.etiquetaticket">
                        {{item.etiquetaticket}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group row">
            <label for="city-input" class="col-2 col-form-label">Servicio</label>
            <mat-form-field>
                <mat-label>Servicios</mat-label>
                <mat-select placeholder="Select">
                    <mat-option class="dropdown-item" *ngFor="let item of servicioMode" (click)="onChangeServicio(item)" [value]="item.descripcion">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Banco</label>
            <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.idbanco" name="idbanco">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Cuenta</label>
            <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.idcuenta" name="idcuenta">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Activo</label>
            <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.activo" name="activo">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Club Cajeros - Puntos</label>
            <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.clubcajeropuntos" name="clubcajeropuntos">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="submit" class="btn btn-danger">Cancelar</button>
    </form>

</div>